body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff; /* Цвет фона */
}

.tree-container {
    position: relative;
}

.tree {
    position: relative;
    width: 0;
    height: 0;
}

.branch {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    position: relative; /* Для позиционирования иголок */
}

.layer1 {
    border-bottom: 100px solid #228B22; /* Цвет ветки */
}

.layer2 {
    border-bottom: 90px solid #2E8B57; /* Цвет ветки */
}

.layer3 {
    border-bottom: 80px solid #3CB371; /* Цвет ветки */
}

.layer4 {
    border-bottom: 70px solid #66CDAA; /* Цвет ветки */
}

.layer5 {
    border-bottom: 60px solid #98FB98; /* Цвет ветки */
}

.layer6 {
    border-bottom: 50px solid #66CDAA; /* Добавляем дополнительный слой */
}

.trunk {
    width: 30px;
    height: 50px;
    background-color: #8B4513; /* Цвет ствола */
    margin: 0 auto; /* Центрируем ствол */
}

.star {
    position: absolute;
    top: -30px; /* Позиция звезды над елкой */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid gold; /* Цвет звезды */
}
.star::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid gold; /* Цвет звезды */
    transform: rotate(72deg);
}
.star::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid gold; /* Цвет звезды */
    transform: rotate(-72deg);
}

/* Стили для иголок */
.needle {
    width: 5px; /* Ширина иголки */
    height: 15px; /* Высота иголки */
    background-color: #006400; /* Цвет иголки */
    position: absolute; /* Абсолютное позиционирование для иголок */
}

.layer1 .needle:nth-child(1) { left: -20px; top: 30px; }
.layer1 .needle:nth-child(2) { left: 0; top: 30px; }
.layer1 .needle:nth-child(3) { left: 20px; top: 30px; }

.layer2 .needle:nth-child(1) { left: -25px; top: 20px; }
.layer2 .needle:nth-child(2) { left: -5px; top: 20px; }
.layer2 .needle:nth-child(3) { left: 15px; top: 20px; }
.layer2 .needle:nth-child(4) { left: -15px; top: 20px; }

.layer3 .needle:nth-child(1) { left: -10px; top: 15px; }
.layer3 .needle:nth-child(2) { left: 10px; top: 15px; }

.layer4 .needle:nth-child(1) { left: -15px; top: 10px; }
.layer4 .needle:nth-child(2) { left: 5px; top: 10px; }
.layer4 .needle:nth-child(3) { left: -5px; top: 10px; }

.layer5 .needle:nth-child(1) { left: -5px; top: 5px; }

